In [1]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [2]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for num in mylist:
    if num%2==0:
        print(num)

2
4
6
8
10

In [9]:
for num in mylist:
    if num%2==0:
        print(num)
    else:
        print(f"odd number:{num}")

odd number:1
2
odd number:3
4
odd number:5
6
odd number:7
8
odd number:9
10

In [11]:
list_sum=0
for num in mylist:
    list_sum=list_sum+num

print(list_sum)

55

In [13]:
list_sum=0
for num in mylist:
    list_sum=list_sum+num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [20]:
mystring="Hello World"
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [25]:
tup=(1,2,3,4,5)

for item in tup:
    print(item)

1
2
3
4
5

In [26]:
my_list=[(1,2),(3,4),(5,6),(7,8)]

In [27]:
my_list

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [28]:
for item in my_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [29]:
for (a,b) in my_list:
    print(a,b)

1 2
3 4
5 6
7 8

In [30]:
for (a,b) in my_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [33]:
l=[(1,2,3),(4,5,6),(7,8,9)]

In [34]:
for item in l:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [37]:
for (x,y,z) in l:
    print(x)
    print(y)
    print(z)

1
2
3
4
5
6
7
8
9

In [38]:
li=l=[(1,2,3),(4,5),(6)]

In [39]:
for item in l:
    print(item)

(1, 2, 3)
(4, 5)
6

In [44]:
for a in l:
    print(a)

(1, 2, 3)
(4, 5)
6

In [45]:
d={"k1":1,"k2":2,"k3":3}

In [46]:
for item in d:
    print(item)

k1
k2
k3

In [47]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [48]:
for key,value in d.items():
    print(key)

k1
k2
k3

In [49]:
for key,value in d.items():
    print(value)

1
2
3

In [51]:
for key in d.keys():
    print(key)

k1
k2
k3

In [53]:
for value in d.values():
    print(value)

1
2
3

In [56]:
for key,value in d.items():
    print(key,value)

k1 1
k2 2
k3 3

In [22]:
for x in range(6):
    for y in range(x):
        print(f" {y+1}", end="")
    print('')

 1
 1 2
 1 2 3
 1 2 3 4
 1 2 3 4 5

In [40]:
import random
random_int=random.randint(100000,999999)
name=input("Enter user first name and last name: ")
split_name=name.split(" ")
firstname=split_name[0]
lastname=split_name[1]
first_two_char_of_firstname=firstname[0:2]
last_two_char_of_lastname=lastname[-2:]
cap1=first_two_char_of_firstname.capitalize()
cap2=last_two_char_of_lastname.capitalize()
print(f"{cap1}{cap2}{random_int}")

Enter user first name and last name: Nikil Valusa
NiSa619417